html{
    color-scheme:light dark;
}

body{
    font-family: system-ui;
    font-size: 1.125rem;
    line-height: 1.5;
}

main{
    width: min(65ch,100% - 4rem);
    margin-inline: auto;
}

.container {
    background-image: url('images/background.jpg');
    background-size: cover; /* Optional: Specifies how the background image should be sized */
    background-repeat: no-repeat; /* Optional: Specifies if/how the image should repeat */
}

img,svg,video{
    max-width: 100%;
    display: block;
}

video[autoplay]:not([muted]) {
    display: none;
}

.box {
    width: clamp(200px, 75%, 300px);
}
